@model ReservationsManager.Models.Reservation.ReservationCreateViewModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Create Reservation</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CheckInDate" class="control-label"></label>
                <input asp-for="CheckInDate" class="form-control" />
                <span asp-validation-for="CheckInDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CheckOutDate" class="control-label"></label>
                <input asp-for="CheckOutDate" class="form-control" />
                <span asp-validation-for="CheckOutDate" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="HasBreakfast" /> @Html.DisplayNameFor(model => model.HasBreakfast)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsAllInclusive" /> @Html.DisplayNameFor(model => model.IsAllInclusive)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <select name="ClientsId" multiple>
                        @foreach (var client in Model.CreateClient)
                        {
                            <option value="@client.Id">
                                @client.Name
                            </option>
                        }
                    </select>
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <select name="RoomId">
                        @foreach (var room in Model.RoomsAdded)
                        {
                            <option value="@room.Id">
                                @room.RoomType Price for adult: @room.PricePerAdult Price for child: @room.PricePerChild
                            </option>
                        }
                    </select>
                </label>
            </div>
            <div class="form-group">
                <label asp-for="FinalPrice" class="control-label"></label>
                <input asp-for="FinalPrice" class="form-control" />
                <span asp-validation-for="FinalPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
