@using ReservationsManager.Models.Room
@*@model IEnumerable<ReservationsManager.Models.Room.RoomIndexViewModel>*@
@model ReservationsManager.Models.Room.RoomIndexViewModel

@{
    ViewData["Title"] = "Index";
}

<h1>View</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>Capacity</th>
            <th>Room Type</th>
            <th>Is free</th>
            <th>Price per adult</th>
            <th>Price per child</th>
            <th>Number</th>
        </tr>
    </thead>
    <tbody>
        @foreach (RoomViewModel item in Model.Items)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Capacity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RoomType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsFree)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PricePerAdult)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PricePerChild)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Number)
            </td>
        </tr>
        }
    </tbody>
    <ul class="pagination">
        @for (var i = 1; i <= Model.Pager.PagesCount; i++)
        {
            <li class="page-item @(i == Model.Pager.CurrentPage ? "active" : "")">
                <a asp-route-Pager.CurrentPage="@i" class="page-link">@i</a>
            </li>
        }
    </ul>
</table>
