@*@model IEnumerable<ReservationsManager.Models.Client.ClientIndexViewModel>*@
@using ReservationsManager.Models.Client
@model ReservationsManager.Models.Client.ClientIndexViewModel

@{
    ViewData["Title"] = "Index";
}

<h1>Clients</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<form asp-controller="Client" asp-action="Search">
    <p>
        Search by name: <input type="text" name="SearchString">
        <input type="submit" value="Filter" />
    </p>
</form>
<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Surname</th>
            <th>Phone number</th>
            <th>Email</th>
            <th>Is adult</th>
        </tr>
    </thead>
    <tbody>
        @foreach (ClientViewModel item in Model.Items)
        {
        <tr>
            @*<td>
            @Html.DisplayFor(modelItem => item)
        </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Surname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsAdult)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
        }
    </tbody>
    <ul class="pagination">
        @for (var i = 1; i <= Model.Pager.PagesCount; i++)
        {
            <li class="page-item @(i == Model.Pager.CurrentPage ? "active" : "")">
                <a asp-route-Pager.CurrentPage="@i" class="page-link">@i</a>
            </li>
        }
    </ul>
</table>
